# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.class

# properties 多环境配置
application-dev.properties
application-prod.properties
application-test.properties
application-local.properties

# 环境变量文件
.env
.env.local

# 编译产物
target/
!.mvn/wrapper/maven-wrapper.jar

# reasonix
.reasonix/

# IDE 文件
.idea/
*.iml
*.xml
.vscode/